{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}


{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h2 class="form-signin-heading">Sign Up Here</h2>
    <form role="form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form|as_bootstrap}}
        {{ profile_form|as_bootstrap }}
        <button type="submit" class="btn btn-primary btn-default">Submit</button>
    </form>
{% endblock %}